In [28]:
# Importing Pandas for Data Cleaning and Manipulation

import pandas as pd

In [29]:
#Importing Raw Data Set

df = pd.read_csv('SuperStore_raw_dataset.csv')

In [30]:
#Checking the first few rows

print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   Postal Code Region       Product ID         Category Sub-Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680

In [31]:
#Checking Dataset Info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [32]:
#Check Shape of dataset

print(df.shape)

(9800, 18)

In [33]:
#Convert the datatypes for order date and ship date to datetime data type

df['Order Date'] = pd.to_datetime(df['Order Date'], errors = 'coerce', dayfirst=True)

df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors = 'coerce', dayfirst=True)

In [34]:
#Check datatype conversion

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 1.3+ MB

In [35]:
#Check if any values failed to parse

failed_order = df['Order Date'].isna().sum()
failed_ship = df['Ship Date'].isna().sum()
print(failed_order)
print(failed_ship)

0
0

In [36]:
#Create Delivery days column from ship date and order date

df['delivery_days'] = (df['Ship Date'] - df['Order Date']).dt.days

In [37]:
#Check if the delivery_days column was created

df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,delivery_days
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,3
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,4
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,7
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,7
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,5
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,5
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,5
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,5

In [ ]:
#Extract date based features

df['order_year'] = df['Order Date'].dt.year
df['order_month'] = df['Order Date'].dt.month
df['order_month_name'] = df['Order Date'].dt.strftime('%b')
df['order_quarter'] = df['Order Date'].dt.to_period('Q').astype(str)
df['order_day'] = df['Order Date'].dt.day_name()

In [39]:
#Check the extracted date features

df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,delivery_days,order_year,order_month,order_month_name,order_quarter,order_day
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,3,2017,11,Nov,2017Q4,Wednesday
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,2017,11,Nov,2017Q4,Wednesday
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,4,2017,6,Jun,2017Q2,Monday
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,7,2016,10,Oct,2016Q4,Tuesday
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,7,2016,10,Oct,2016Q4,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,...,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,7,2017,5,May,2017Q2,Sunday
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,5,2016,1,Jan,2016Q1,Tuesday
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,Technology,Phones,GE 30524EE4,235.1880,5,2016,1,Jan,2016Q1,Tuesday
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,5,2016,1,Jan,2016Q1,Tuesday
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,5,2016,1,Jan,2016Q1,Tuesday

In [40]:
#Check for missing postal codes

df['Postal Code'].isna().sum()

np.int64(11)

In [41]:
#Filling the missing postal codes with mode 

df['Postal Code'].fillna(df['Postal Code'].mode()[0], inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17220\1866054700.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Postal Code'].fillna(df['Postal Code'].mode()[0], inplace=True)

In [42]:
#Filling the missing postal codes with mode without using inplace

df['Postal Code'] = df['Postal Code'].fillna(df['Postal Code'].mode()[0])

In [43]:
df['Postal Code'].isna().sum()

np.int64(0)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID            9800 non-null   int64
 1   Order ID          9800 non-null   object
 2   Order Date        9800 non-null   datetime64[ns]
 3   Ship Date         9800 non-null   datetime64[ns]
 4   Ship Mode         9800 non-null   object
 5   Customer ID       9800 non-null   object
 6   Customer Name     9800 non-null   object
 7   Segment           9800 non-null   object
 8   Country           9800 non-null   object
 9   City              9800 non-null   object
 10  State             9800 non-null   object
 11  Postal Code       9800 non-null   float64
 12  Region            9800 non-null   object
 13  Product ID        9800 non-null   object
 14  Category          9800 non-null   object
 15  Sub-Category      9800 non-null   object
 16  Product Name      9800 non-null   object
 17  Sales             9800 non-null   float64
 18  delivery_days     9800 non-null   int64
 19  order_year        9800 non-null   int32
 20  order_month       9800 non-null   int32
 21  order_month_name  9800 non-null   object
 22  order_quarter     9800 non-null   object
 23  order_day         9800 non-null   object
dtypes: datetime64[ns](2), float64(2), int32(2), int64(2), object(16)
memory usage: 1.7+ MB

In [45]:
#Drop Country Column as it consists of only one value

df= df.drop(columns='Country')

In [46]:
#Check if row id values are unique

df['Row ID'].is_unique

True

In [47]:
#Check total duplicate rows

df.duplicated().sum()

np.int64(0)

In [48]:
#Check text columns in dataset

df.select_dtypes(include='object').columns

Index(['Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment',
       'City', 'State', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'order_month_name', 'order_quarter', 'order_day'],
      dtype='object')

In [49]:
#Clean all text columns

for col in df.select_dtypes(include='object').columns:
    df[col] = (
        df[col]
        .astype(str)                # make sure everything is string
        .str.strip()                # remove leading/trailing spaces
        .str.replace('\xa0', ' ', regex=False)  # remove non-breaking spaces
        .str.lower()                # convert to lowercase
    )

In [50]:
#Make all column names sql friendly

df.columns = (
    df.columns
    .str.strip()                # remove leading/trailing spaces
    .str.lower()                # convert to lowercase
    .str.replace(' ', '_')      # replace spaces with underscores
    .str.replace('-', '_')      # replace hyphens with underscores
    .str.replace('/', '_')      # replace slashes with underscores
)

In [53]:
df['type_of_day'] = df['order_day'].apply(
    lambda x: 'Weekend' if x in ['Saturday', 'Sunday'] else 'Weekday'
)

In [54]:
df

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,city,state,...,sub_category,product_name,sales,delivery_days,order_year,order_month,order_month_name,order_quarter,order_day,type_of_day
0,1,ca-2017-152156,2017-11-08,2017-11-11,second class,cg-12520,claire gute,consumer,henderson,kentucky,...,bookcases,bush somerset collection bookcase,261.9600,3,2017,11,nov,2017q4,wednesday,Weekday
1,2,ca-2017-152156,2017-11-08,2017-11-11,second class,cg-12520,claire gute,consumer,henderson,kentucky,...,chairs,"hon deluxe fabric upholstered stacking chairs,...",731.9400,3,2017,11,nov,2017q4,wednesday,Weekday
2,3,ca-2017-138688,2017-06-12,2017-06-16,second class,dv-13045,darrin van huff,corporate,los angeles,california,...,labels,self-adhesive address labels for typewriters b...,14.6200,4,2017,6,jun,2017q2,monday,Weekday
3,4,us-2016-108966,2016-10-11,2016-10-18,standard class,so-20335,sean o'donnell,consumer,fort lauderdale,florida,...,tables,bretford cr4500 series slim rectangular table,957.5775,7,2016,10,oct,2016q4,tuesday,Weekday
4,5,us-2016-108966,2016-10-11,2016-10-18,standard class,so-20335,sean o'donnell,consumer,fort lauderdale,florida,...,storage,eldon fold 'n roll cart system,22.3680,7,2016,10,oct,2016q4,tuesday,Weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,ca-2017-125920,2017-05-21,2017-05-28,standard class,sh-19975,sally hughsby,corporate,chicago,illinois,...,binders,"cardinal holdit! binder insert strips,extra st...",3.7980,7,2017,5,may,2017q2,sunday,Weekday
9796,9797,ca-2016-128608,2016-01-12,2016-01-17,standard class,cs-12490,cindy schnelling,corporate,toledo,ohio,...,art,"bic brite liner highlighters, chisel tip",10.3680,5,2016,1,jan,2016q1,tuesday,Weekday
9797,9798,ca-2016-128608,2016-01-12,2016-01-17,standard class,cs-12490,cindy schnelling,corporate,toledo,ohio,...,phones,ge 30524ee4,235.1880,5,2016,1,jan,2016q1,tuesday,Weekday
9798,9799,ca-2016-128608,2016-01-12,2016-01-17,standard class,cs-12490,cindy schnelling,corporate,toledo,ohio,...,phones,anker 24w portable micro usb car charger,26.3760,5,2016,1,jan,2016q1,tuesday,Weekday
9799,9800,ca-2016-128608,2016-01-12,2016-01-17,standard class,cs-12490,cindy schnelling,corporate,toledo,ohio,...,accessories,sandisk cruzer 4 gb usb flash drive,10.3840,5,2016,1,jan,2016q1,tuesday,Weekday

In [55]:
#Save Cleaned dataset

df.to_csv('Superstore_cleaned_final.csv', index=False)

In [56]:
#Load csv file into mysql

from sqlalchemy import create_engine

# Replace with your own MySQL connection details
engine = create_engine("mysql+pymysql://root:27Simran$@localhost:3306/superstore_db")

# Export cleaned dataframe to a base table in MySQL
df.to_sql("superstore_cleaned", con=engine, if_exists="replace", index=False)

9800